<p>Welcome <%= name %>,</p>
<p>
    Thanks for Signing up for Nice app.We're very excited to have you on board.
</p>

<p>Here are your account details:</p>
<ul>
    <li>Email: <%= email%></li>
    <li>Login URL: <%= login %></li>
</ul>

Thanks!
BlogIt Support.
